html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 200px;
  background: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 10pt;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.body {
  background: #000000;
  color: #ffffff;
}

.t>.w {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}

.t:hover>.w {
  transform: translate(.40rem);
}

.button {
  color: #ffffff;
  background: red;
  border-color: red;
  border: 2px red solid;
  border-radius: 5px;
  height: 35px;
  width: 110px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.icon {
  background-image: url(../icons/sicon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

::selection {
  color: red;
  background: #000000;
}

a.a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.grey {
  color: #8C8A89;
}

.black {
  background: #000000;
  color: #ffffff;
}

.lined-link {
  color: #ffffff;
  text-decoration: none;
}

.lined-link:hover {
  color: #ffffff;
  text-decoration: underline;
}


.load {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: hidden;
  z-index: 2;
background: linear-gradient(to right, transparent, #fe0000, #fe0000, transparent);
  top: 0;
  background-size: cover;
  background-position: center;
}

.loader {
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: visible;
  z-index: 2;
  background: linear-gradient(to right, transparent, #fe0000, #fe0000, transparent);
  top: 0;
  background-size: cover;
  background-position: center;
}

.loading {
  background: url(../icons/stralur.loading.white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.title-name{
  background: url(../icons/Stralur.Logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.xsm-title {
  height: 35px;
  width: 130px;
}

.sm-title {
  height: 35px;
  width: 140px;
}

.md-title {
  height: 40px;
  width: 170px;
}

.lg-title {
  height: 50px;
  width: 190px;
}