body {
  background: rgb(20, 20, 20);
  color: #ffffff;
  font-size: 10pt;
}

.fs-12 {
  font-size: 12pt;
}

.body {
  background: #000000;
  color: #ffffff;
}

.t>.w {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}

.t:hover>.w {
  transform: translate(.40rem);
}


.button {
  color: #ffffff;
  background: red;
  border-color: red;
  border: 2px red solid;
  border-radius: 5px;
  height: 35px;
  width: 110px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 7rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.icon {
  background-image: url(../icons/sicon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

::selection {
  color: red;
  background: #fff;
}

a.a:hover {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.grey {
  color: #8C8A89;
}

.category {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

.navbar-fixed-top {
  padding-top: 50px;
}

.neutral {
  background: rgb(20, 20, 20);
  color: #ffffff;
}

.black {
  color: #000000;
}

.a:hover {
  color: #ffffff;
}

.title-text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  padding-left: 5px;
  padding-bottom: 4px;
}

.lined-link {
  color: #8C8A89;
  text-decoration: none;
}

.lined-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.black-background {
  background: #000000;
  color: #ffffff;
}

.blue-background{
  background: #2563eb;
}

.white-background {
  background: #ffffff;
  color: #000000;
}

.grey-background {
  background: rgb(20, 20, 20);
  color: #ffffff;
}

.red-background {
  background: #e50914;
  color: #ffffff;
}

.black-text {
  color: #000000;
}

.white-text {
  color: #ffffff;
}

.dark-text {
  color: #1D2125;
}

.red-text {
  color: #e50914;
}

.new-season {
  position: absolute;
  right: 4%;
  padding: 2px 3.5px;
  border-radius: 2px 2px 0 0;
  font-weight: bold;
  bottom: 0;
  background: #FE0000;
  color: #ffffff;
  text-decoration: none
}

.top-10 {
  right: 0;
  border-radius: 0 0 0 4px;
  padding: 2px 3px;
  position: absolute;
  top: 0;
  font-weight: bold;
  background: #FE0000;
}

.small-category-icon {
  height: 20px;
  width: 20px;
  top: 3px;
  left: 6px;
  position: absolute;
}

.category-image {
  height: 110px;
  width: 200px;
  padding: 2px;
}

.socials {
  color: #ffffff;
  font-size: 32px;
}

.socials:hover {
  color: #ffffff;
}

.hover-white-button {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.hover-white-button:hover {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}


.hover-red-button {
  background: none;
  border: 1px solid #FE0000;
  color: #ffffff;
}

.hover-red-button:hover {
  background: #FE0000;
  border: 1px solid #FE0000;
  color: #ffffff;
}

.link {
  color: #000000;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
  color: #000000;
}

.link-white {
  color: #ffffff;
  text-decoration: underline;
}


.link-red {
  color: #FE0000;
  text-decoration: underline;
}

.link-red:hover {
  text-decoration: none;
  color: #FE0000;
}


.link-white:hover {
  text-decoration: none;
  color: #ffffff;
}

.top-image {
  height: 100%;
  width: 100%;
}


.half-white-lined-link {
  color: #8C8A89;
  text-decoration: none;
}

.half-white-lined-link:hover {
  color: #8C8A89;
  text-decoration: underline;
}


.half-white-link {
  color: #8C8A89;
  text-decoration: none;
}

.half-white-link:hover {
  color: #8C8A89;
  text-decoration: underline;
}

.white-link {
  color: #ffffff;
  text-decoration: none;
}

.white-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.half-white-text {
  color: #8C8A89;
}

.sign-in-button {
  height: 34px;
  width: 65px;
  background: #FE0000;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  font-size: 10pt;
  font-weight: bold;
}

.sign-up-button {
  height: 34px;
  width: 110px;
  font-size: 10pt;
  border-radius: 2px;
  margin-right: 4px;
  font-weight: bold;
}

.red-link {
  color: currentColor;
}

.red-link:hover {
  color: #FE0000;
}


.trailer-button {
  bottom: 10px;
  left: 10px;
  padding: 0.5px 9px;
  background: #000000A7;
  font-size: 12pt;
  border: 0;
  border-radius: 1px;
  position: absolute;
  color: currentColor;
  display: none;
}


.rated {
  display: inline;
  top: 5px;
  left: 4px;
  font-size: 20px;
  position: absolute;
  align-items: center;
}

.rated-2 {
  display: none;
  top: 5px;
  left: 4px;
  font-size: 20px;
  position: absolute;
  align-items: center;
}



.play-button {
  background: url(../icons/play.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.layout {
  background: #000000;
  border: 0;
  padding: 4px 5px;
  color: currentColor;
  font-size: 15px;
}

.layout:hover {
  font-size: 15.5px;
  background: #000000;
  border: 0;
  padding: 4px 5px;
  color: currentColor;
}

.title-small {
  color: #e50914;
  font-size: 26px;
  font-weight: bold;
  color: #FE0000;
}

.search-small {
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  max-width: 130px;
  width: 100%;
  border-radius: 0;
}

.text-current {
  color: currentColor;
}

.title-logo {
  height: 50px;
  width: 245px;
}


.load {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: hidden;
  z-index: 2;
  background: #000000;
  top: 0;
  background-size: cover;
  background-position: center;
}

.loader {
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: visible;
  z-index: 2;
  background: #000000;
  top: 0;
  background-size: cover;
  background-position: center;
}


.trailer-loader {
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: visible;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  top: 0;
  background-size: cover;
  background-position: center;
}

.loading {
  background: url(../icons/stralur.loading.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.loading2 {
  background: url(../icons/loading.2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}


.season-button {
  font-size: 15px;
  padding: 5px;
}

.spinner {
  -webkit-animation: load-spinner 0.6s infinite linear;
  animation: load-spinner 0.6s infinite linear;
}

@keyframes load-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.modal-content {
  background: linear-gradient(to bottom, #000000CD, #000000, #000000, #000000, #000000, #000000CD);
}

.title-name{
  background: url(../icons/Stralur.Logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.title-name-kids{
  background: url(../icons/Stralur.Logo.Kids.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.xsm-title {
  height: 35px;
  width: 130px;
}

.sm-title{
  height: 35px;
  width: 140px;
}
.sm-title-kids{
  height: 35px;
  width: 170px;
}

.md-title{
  height: 40px;
  width: 170px;
}

.lg-title-kids{
  height: 50px;
  width: 215px;
}

.lg-title{
  height: 50px;
  width: 190px;
}

.search-icon{
  background: url(../icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.search-icon-1{
  background: url(../icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.sm-search{
  height: 40px;
  width: 40px;
}

.xxsm-title{
  height: 20px;
  width: 90px;
}


.search-hide{
    -webkit-animation: search 1.2s ease-in-out both;

            animation: search 1.2s ease-in-out both;
	cursor: pointer;
}

.search-hide-1{
    -webkit-animation: search 1.2s ease-in-out both;

            animation: search 1.2s ease-in-out both;
			cursor: pointer;
}

  .search{
border-color: #ffffff;
max-width: 120px;
width: 100%;
border-radius: 0;
  -webkit-animation: search 0.9s ease-in-out both;

            animation: search 0.9s ease-in-out both;
  }
  
  .search-lg{
  -webkit-animation: search 0.9s ease-in-out both;

            animation: search 0.9s ease-in-out both;
			width: 140px;
  }
  
 @-webkit-keyframes search {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes search {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

#buttonIcon{
background: transparent;
height: 30px; 
width: 30px;
margin-top: -5px;
}

#buttonIcon1{
background: transparent;
height: 30px; 
width: 30px;
margin-top: -5px;
}